:root {
  --dark-green: #507209;
  --bright-green: #00ffba;
  --lime: #c9f52e;
  --dull-gray: #707070;
}

.Landing {
  height: 100%;
  width: 100%;
}

.about-content {
  height: 100%;
  background: linear-gradient(
    155deg,
    var(--lime),
    var(--bright-green),
    var(--dark-green)
  );
}
