.MainContent {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 100vh;
}

/* .Product {
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: 0;
    padding: 0;
} */

.container {
    min-width: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.content-box {
    min-width: auto;
    display: inline-flex;
    justify-content: center;
    margin: auto;
    margin-top: 3px;
    padding: 3px;
    border: 1px solid red;
}