:root {
  --bright-green: #00ffba;
  --lime: #c9f52e;
  --dull-gray: #707070;
}

#top-menu-icon {
  width: 60px;
  height: 60px;
  background-color: var(--bright-green);
  border-radius: 30px 30px 30px 30px;
  position: absolute;
  color: #000;
  line-height: 60px;
  text-align: center;
  z-index: 2;
}
#navbar-slide {
  width: 60px;
  max-width: 80vw;
  height: 60px;
  background-color: var(--bright-green);
  border-radius: 30px 30px 30px 30px;
  transition: 1s;
  line-height: 60px;
  text-align: center;
  z-index: 2;
}

.item {
  display: inline;
  position: absolute;
  z-index: 0;
  padding: 0px 3px;
}
.item-main-icon {
  display: inline;
}
