.Navbar {
    position: relative;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    margin-bottom: 5px;
    padding: 0;
    border-bottom: 1px solid #d4d4d2;
    box-shadow: 0 0 2px #d4d4d2;
    background: linear-gradient(330deg, rgba(61, 4, 168, 0.623), rgba(243, 165, 19, 0.623));
}

.Navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding: 0 15px;
}

.Navbar li {
    display: inline;
    margin-right: 10px;
    padding: 3px;
    font-size: 150%
}

.Navbar button {
    border: none;
    outline: none;
    background: none;
    color: #f4f4f4;
    margin: 5px auto;
    line-height: 3rem;
    font-family: monospace;
    text-shadow: 0 0 1px white;
}

.Navbar button:hover {
    text-shadow: 1px 2px 3px rgba(61, 4, 168, 0.2);
    font-size: larger;
}

.Navbar button:active {
    color: lightgray;
}